**
!package.json
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!CHANGELOG.md
!dist/extension.js
!dist/webview/*.js
!media/editor.css
!media/export.css
!media/export.svg
!media/icon.png
!media/vendor/**
